.eventtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.timer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 70px;
    width: 900px; 
    height: 100px;
    border-radius: 10px;
}

.boxes {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: auto;
    margin-top: 50px;
    width: 450px; 
    height: 100px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
}

.boxes2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px;
    width: 600px; 
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes3 {
    position: relative;
    margin: auto;
    margin-top: 175px;
    left: 900px; 
    width: 80px;
    height: 40px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size:13px;
    z-index: 10;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}



.text1 {
    position: relative;
    border-style: solid;
    margin: auto;
    top: 10px;
    left:475px;
    right: 12.5px; 
    width: 300px;
    height: 80px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes4 {
    position: relative;
    border-style: solid;
    margin: auto;
    top: -70px;
    right: 240px; 
    width: 80px;
    height: 80px;
    color: purple;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
}

.boxes5 {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -40px;
    width: 600px; 
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes6 {
    position: relative;
    margin: auto;
    top: -70px;
    left: 900px; 
    width: 80px;
    height: 40px;
    background-color:blueviolet;
    color: aliceblue;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size:13px;
    z-index: 20;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes7 {
    position: relative;
    border-style: solid;
    margin: auto;
    margin-top: -130px;
    right: 240px; 
    width: 80px;
    height: 80px;
    color: purple;
    border-radius: 10px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
}



.text2 {
    position: relative;
    border-style: solid;
    margin: auto;
    top: -85px;
    right: -560px; 
    width: 300px;
    height: 80px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.boxes8 {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
    width: 600px; 
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes9 {
    position: relative;
    margin: auto;
    top: -75px;
    left: 900px; 
    width: 80px;
    height: 40px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size:13px;
    z-index: 20;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boxes10 {
    position: relative;
    border-style: solid;
    margin: auto;
    margin-top: -130px;
    right: 240px; 
    width: 80px;
    height: 80px;
    color: purple;
    border-radius: 10px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
}

.text3 {
    position: relative;
    border-style: solid;
    margin: auto;
    top: -85px;
    right: -560px; 
    width: 300px;
    height: 80px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    z-index: 20;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
}